* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: white !important;;
    /* margin-top: 4rem; */
    font-family: 'Poppins', sans-serif;
  }

section {
    height: 600px;
    background-color: white;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}





/* First section - Home page */
.hero {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}  

.hero-area {
display: flex;
height: 100%;
justify-content: space-between;
align-items: center;
}

.hero-text {
margin-left: 80px;
margin-bottom: 200px;
}

.myname {
  padding-top: 150px;
  font-size: 90px;
  margin: 0;

}

.myname::after {
  content: "|";
  animation: typinganime .9s ease infinite;
}

.mytext::after {
  content: "|";
  animation: typinganime .9s ease infinite;
}

@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}


.mytext {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}

.socials {
  /* padding-bottom: 200px; */
  margin-right: 35px;
  font-size: 30px;
  color: white;
}

/* .fa-instagram{
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
} */

.fa-gitlab{
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

.fa-linkedin{
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}





/* The second section - About me */
.sub-section{
  display: flex;
  justify-content: space-around;
  padding: 40px 80px 80px 80px;
  overflow: auto;
  resize: vertical;
}

.headshot{
  width: 200px;
  border-radius: 150px;
}

.headshot-container{
  display: flex;
  align-items: center;
}

.about-me-text{
  line-height: 1.5;
  padding-bottom: 30px;
}





/* Third section - projects */
.sub-section-alternative{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px 80px 80px 80px;
  margin-top: -50px;
}

.sub-section-alternative h2 {
  padding-bottom: 20px;
  font-weight: 500;
}

.project-card {
  background-color: #ffffff;
  color: black;
  width: 300px;
  height: 365px;
  box-shadow: 5px 5px 20px grey;
  margin-top: 20px;
  resize: vertical;
}

.subtext {
  font-size: 15px;
  color: black;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container{
      display: flex;
      flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  height: 135px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
}






/* Fourth section - Leaving comments */
.comment-header{
  text-align: center;
}

.comment-title h3{
  color: #1c1d25;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  margin-right: auto;
  margin-left: auto;
}

.button a {
  width: 120px;
  height: 50px;
  font-size: 1.25rem;
  background-color:#0d6efd;
  border-radius: 5px;
  text-align: center;
  font-weight: 300;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  }
  
  .button a:hover {
  background-color: #1363dc;
  text-decoration: none; 
}

.button a:active {
background-color: #A9A9A9;
color: #808080;
text-decoration: none; 
}

.content-section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  align-items: center;
}

.alert {
  width: 60%;
  margin-left: 3rem;
  margin-top: 3.5rem;
  /* margin-bottom: -3.5rem; */
  z-index: 1;
}

.media-body {
  margin-top: 10px;
}

/* Content CSS   */
.bg-steel {
  background-color: #5f788a;
}
  
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 100px;
  margin-bottom: -50px;
}

.article-title {
  font-size: 30px;;
  color: #444444;
}

.article-title:hover {
  color: #0d6efd;
  text-decoration: none;
}

.article-content {
  font-size: 20px;
  white-space: pre-line;
}

/* .article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
} */

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.posts_by {
  text-align: center;
  margin-top: 80px;
  margin-bottom: -40px;
}


.alert {
  width: 60%;
  margin-left: 3rem;
  margin-top: 3.5rem;
  /* margin-bottom: -3.5rem; */
  z-index: 1000 !important;
}





/* This code was adapted from a post by A. Kubów. 10-3-2021 */
/* https://www.youtube.com/watch?v=-D6oTPA4vXc&t=3993s  */
/* Accessed: 15-1-2023 */