{% extends "layout.html" %}

{% block content %}
<section class="hero" id="home">


  
  <div class ="hero-area">
      <div class="hero-text">
          <h1 class="myname">Yuki Sakata</h1>
          <p class="mytext">Welcome to my page</p>
          <!-- <a class="btn btn-primary" href="{{ url_for('download') }}">Download Portfolio</a> -->
          <!-- <div class="button"><a href="{{ url_for('about')}}">About me</a></div> -->
      </div>
      <div class="socials">
        <!-- <div>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div> -->
        <div>
          <a href="https://git.cardiff.ac.uk/c22012187" target="_blank"><i class="fa-brands fa-gitlab"></i></a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/yuki-sakata-ys/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>          
      </div>
  </div>
</section>
<section class="sub-section" id="about-me">
  <div class="information">
      <h2 class="about-me-title">A little bit about me...</h2>
      <p class="about-me-text">Hello. My name is Yuki Sakata, I'm an MSc student in Computing at Cardiff University. I mainly study website development using HTML and CSS. I also have a strong interest in UI/UX, having been involved in product launches in my previous work experience, and I plan to study Human Centric Computing in my next semester.</p>
      <a class="btn btn-primary mt-40 btn-lg" href="{{ url_for('about')}}">Read my CV</a>
  </div>
  <div class="headshot-container">
      <img class="headshot" src="static/mypic/myprofile.jpg" alt="Kanon headshot"/>
  </div>
</section>
<div class="sub-section-alternative" id="projects">
  <h2>Projects</h2>
  <div class="project-container">
      <div class="project-card">
          <img class="project-image" src="static/mypic/project-1.png" alt="Project One Image" />
          <h3>Spatial Design</h3>
          <p class="subtext">Created while studying at a private school for spatial design, Illustrator, photoshop and Vector works were used. (in Japanese)</p>
          <hr />
          <p class="subtext"><a href="./static/pdf/Portfolio-interior.pdf" target="_blank">Open Portfolio</a></p>
      </div>
      <div class="project-card">
        <img class="project-image" src="static/mypic/project-2.jpg" alt="Project One Image" />
        <h3>Coming soon...</h3>
        <p class="subtext">Under Construction<br><br><br><br></p>
        <hr />
        <!-- <p class="subtext"><a class="project-link" href="#">View here</a></p> -->
    </div>
      <!-- <div class="project-card">
          <img class="project-image" src="static/mypic/kanon.jpg" alt="Project One Image" />
          <h3>Project Two</h3>
          <p class="subtext">This is my project and some text about it. I enjoyed making this project.</p>
          <hr />
          <p class="subtext"><a class="project-link"class="project-link" href="#">View here</a></p>
      </div> -->
  </div>
</div>

  <div>
    <div class="comment-header">
      <div class="comment-title">
        <h3>Leave Your Comment</h3>
      </div>
      {% if current_user.is_authenticated %}
          <!-- <a class="btn btn-primary btn-lg" href="{{ url_for('new_post')}}">NewPost</a> -->
      <div class="button"><a href="{{ url_for('new_post')}}">Comment</a></div>
      {% endif %}
    </div>
    <div class="comment-content">
      {% for post in posts.items %}
          <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d, %H:%M') }}</small>
              </div>
              <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
          </article>
    {% endfor %}
    </div>  
  </div>
  <div class="pagination">
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if posts.page == page_num %}
            <a class="btn btn-primary center" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-primary" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% endif %}
    {% endfor %}    
  </div>  
{% endblock content %}

