{% extends "layout.html" %}

{% block content %}
    <h3 class="posts_by">Posts by {{ user.username }} - {{ posts.total }} posts</h3>
    {% for post in posts.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d, %H:%M') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if posts.page == page_num %}
            <a class="btn btn-primary m-auto" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-primary m-auto" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% endif %}
    {% endfor %}
{% endblock content %}





<!-- # Reference
# This code was adapted from a post by C. Schafer.
# Accessed: 13-1-2023, 14-1-2023
# https://www.youtube.com/watch?v=UIJKdCIEXUQ&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=3
# https://www.youtube.com/watch?v=cYWiDiIUxQc&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=4
# https://www.youtube.com/watch?v=CSHx6eCkmv0&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=6
# https://www.youtube.com/watch?v=u0oDDZrDz9U&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=8
# https://www.youtube.com/watch?v=PSWf2TjTGNY&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=9 -->